.App {
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header-div{
  display: flex;
  justify-content: space-around;
}

/*#list-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/

#newTaskDiv{
  display: flex;
  justify-content: space-around;
}

#newTaskHeader{
  display: flex;
  justify-content: space-around;
}

.task-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}